@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap");

.pagpont {
  margin: auto;
  background-image: linear-gradient(to bottom, rgb(214, 214, 214), white);
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.table-dados {
  display: none;
}

.map2 {
  width: 40vw;
  margin: auto;
}

.before-ap {
  width: 30vw;
  text-align: center;
  margin: auto;
}

.table-dados {
  width: 30vw;
  margin: auto;
  text-align: center;
  background-color: rgb(226, 185, 61);
  display: none;
  justify-content: center;
  margin-bottom: 1%;
}

.table-dados tr {
  width: 100%;
  align-content: center;
  margin: auto;
}

.table-dados th {
  font-size: 1.5vw;
  padding-left: 5.8vw;
}
.table-dados td {
  padding-left: 5.8vw;
  font-size: 1vw;
}
.centralizar {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
}

.div-adress {
  display: flex;
  justify-content: space-between;
}

.adress {
  align-self: center;
  margin-right: 2%;
}

.MapContainer2 {
  height: 35vw;
}

@media (max-width: 460px) {
  .map2 {
    width: 80vw;
    height: 40vh;
    margin-bottom: 5%;
  }

  .MapContainer2 {
    height: 40vh;
  }

  .table-dados th,
  tr {
    font-size: 1em;
  }
  .table-dados td {
    font-size: 1em;
  }
  .table-dados {
    width: 55vw;
  }
}
