@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");

.box {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.3em;
  width: 30vw;
  padding: 10px;
  margin: auto;
}

.resposta {
  list-style: none;
  text-align: justify;
}

.pergunta {
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(226, 185, 61);
  cursor: pointer;
  color: white;
}

.pergunta:hover {
  background-color: rgba(217, 171, 35);
}

@media (max-width: 460px) {
  .box {
    width: 75vw;
  }

  .faq-title {
    margin-top: 3%;
    font-size: 2em;
  }
}
