.Box {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 8vw;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: rgb(226, 185, 61);
  }
  
  .Box:hover {
    background-color: rgb(202, 160, 32);
  }

  .Boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }