@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.pag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.first {
  width: 70vw;

  text-align: center;
  display: flex;
  justify-content: center;

  font-size: 1.25em;
  margin: 3%;
}

.title-noticias {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

.outro {
  width: 20vw;

  text-align: center;

  font-size: 1.25em;
  margin: 3%;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2%;

  color: black;
}

.subtitle:hover {
  color: rgb(226, 185, 61);
  cursor: pointer;
}

.noticia-body {
  width: 100%;
  color: black;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-left: 3%;
}

@media (max-width: 460px) and (orientation: portrait) {
  .first > img {
    width: 100%;
  }

  .first {
    flex-wrap: wrap;
  }

  .pag {
    justify-content: center;
  }

  .outro {
    width: 70vw;
    padding: 3%;
  }
}
