@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");

.main-pag {
  background-image: linear-gradient(to bottom, rgb(214, 214, 214), white);
}

.pag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.QuemSomos {
  color: black;
  font-size: 2.4vw;
  font-weight: bold;
}

.section-aside {
  display: flex;
  justify-content: center;
}

section {
  margin: 2vw;
  font-size: 1.75vw;
  text-align: justify;
  font-family: "Yanone Kaffeesatz", sans-serif;
  height: 25vw;
  width: 40%;
  margin-right: 6%;
  margin-bottom: 22%;
}

.map {
  width: 60%;
  margin: auto;
}

aside {
  width: 30%;
}

#map-container {
  height: 20vw;
  margin-bottom: 5px;
}

.Boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Box {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 8vw;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: rgb(226, 185, 61);
}

.Box:hover {
  background-color: rgb(202, 160, 32);
}

.Link {
  text-decoration: none;
  color: white;
  font-size: 2vw;
  
}

.Box p {
  color: black;
  font-size: 1.5vw;
}

.Box-item {
  text-align: center;
}

.containerpanelas{
  width: 100%;
}

.panelas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.panelas:hover {
  cursor: pointer;
}

.panela-meio {
  position:absolute;
  margin-top: 10%;
  right: 20.4vw;
  width: 9.7vw;
  height: 9.7vw;
}

.panelas-info {
  font-size: 1.5em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: rgb(226, 185, 61);
  color: white;
  border-radius: 5%;
  margin-top: 20%;
  padding: 5%;
  text-align: center;
}

.panela-azul {
  width: 50%;
  height: 50%;
}
.panela-amarela {
  width: 50%;
  height: 50%;
}
.panela-verde {
  width: 50%;
  height: 50%;
}
.panela-laranja {
  width: 50%;
  height: 50%;
}

@media (max-width: 1010px) {
}
@media (max-width: 460px) and (orientation: portrait) {
  .menu-section.on div#mapcontainer {
    display: none;
  }

  .section-aside {
    display: flex;
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  section {
    margin-top: 2vw;
    margin: auto;
    font-size: 4.5vw;
    width: 80vw;
    height: 50%;
  }

  .panelas-info {
    font-size: 1em;
    width: 60vw;
    margin: auto;
  }

  .containerpanelas {
    width: 100vw;
    height: 70vh;
  }

  .panela-meio {
    width: 25.4vw;
    height: 25.4vw;
    right: 36vw;
    margin-top: 27.5vw;
  }

  .panela-azul {
    width: 40vw;
    height: 40vw;
  }
  .panela-amarela {
    width: 40vw;
    height: 40vw;
  }
  .panela-verde {
    width: 40vw;
    height: 40vw;
  }
  .panela-laranja {
    width: 40vw;
    height: 40vw;
  }

  .pag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .QuemSomos {
    font-size: 1.5em;
    margin-top: 2.5%;
    margin-bottom: -2.5%;
  }

  .map {
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 70vw;
    width: 90vw;
  }

 #map-container {
  height: 70vw;
}

  .Box {
    width: 50vw;
    height: 20vw;
    margin-left: 2%;
  }

  .Box p {
    color: black;
    font-size: 4vw;
  }
  .Link {
    font-size: 6vw;
  }
}
