.donation_pag {
  font-family: "Yanone Kaffeesatz", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.table-d {
  width: 100%;
}

.donation-table {
  font-size: 1.3em;
  margin: auto;
  text-align: center;
  align-items: center;
  width: 55%;
  background-color: rgb(226, 185, 61);
  border: 5px solid rgb(233, 233, 233);
  border-collapse: collapse;
}

.tr-entrega,
.tr-ligacao,
.thead-food {
  background-color: #2b98a7;
  color: white;
}


.donation-table td {
  border: 30px solid rgb(233, 233, 233);
  padding: 7px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.donation-table thead {
  border: 30px solid rgb(233, 233, 233);
}

.donation-title-left {
  font-size: 2em;
  padding: 5px;
  text-align: end;
  padding-top: 2%;
}

.donation-title-right {
  font-size: 2em;
  padding: 5px;
  text-align: start;
  padding-top: 2%;
  padding-left: 1%;
}

.warning {
  color: white;
  background-color: rgba(201, 15, 15, 0.9);
  border: 5px solid rgb(233, 233, 233);
  font-size: 1.5vw;
  width: 25%;
  padding: 1%;
  margin: auto;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.link-table {
  text-decoration: none;
  color: white;
}

@media (max-width: 460px) {
  .donation-table {
    width: 100%;
  }

  .donation-title-left {
    font-size: 1.5em;
    padding-top: 2%;
    padding-left: 2%;
    text-align: end;
  }

  .donation-title-right {
    font-size: 1.5em;
    text-align: start;
    padding-top: 2%;
    width: 60%;
  }

  .warning {
    color: white;
    font-size: 5vw;
    width: 55%;
    height: 10%;
    padding: 2px;
  }
}
