@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");

.pag-pacto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  flex-wrap: wrap;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: justify;
}

.pacto-logo {
  width: 30vw;
}

.pacto-description {
  width: 40vw;
}

.description {
  font-size: 1.6vw;
  width: 40vw;
}

.pacto-caurosel {
  width: 35%;
  margin-top: 3.25%;
  margin-left: 5%;
}

li {
  color: black;
}

.sig {
  background-color: rgb(226, 185, 61);
  border-radius: 10%;
}

.sig,
.title-tab,
.table-body {
  text-align: justify;

  color: white;
  font-size: 1.5vw;
  padding: 5px;
  padding-left: 3.5%;

  width: 40vw;
}

.titletab {
  padding-left: 36%;
  font-size: 2vw;
  text-align: end;
}

.actions {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.donation {
  font-size: 1.7vw;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.head {
  font-size: 2vw;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #0e526d;
  border: 4px solid #0e526d;
  color: rgb(226, 226, 226);
}

.table2-body {
  padding: 10px;
  border: 4px solid #0e526d;
}

.container-caurosel {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tabela {
  border-collapse: collapse;

  margin-left: 2vw;
  margin-top: 20px;

  width: 27vw;
  height: 20vh;
}

.titulo {
  padding: 15px;
  text-align: center;
  margin-bottom: 5%;
  background-color: rgb(226, 185, 61);
  cursor: pointer;
  color: white;
}

.titulo:hover {
  background-color: rgba(217, 171, 35);
}

.boxes {
  width: 45vw;
  padding: 15px;
}

@media (max-width: 460px) {
  .description {
    width: 80vw;
  }

  .boxes {
    margin: auto;
    width: 60vw;
  }

  #actions {
    font-size: 4vw;
    width: 100vw;
  }

  .sig,
  .titletab,
  .tabbody {
    font-size: 4vw;
    align-self: center;

    width: 90vw;

    margin-bottom: 20px;
  }

  .head {
    font-size: 5vw;
  }
  .donation {
    font-size: 4vw;
    display: block;
    width: 90vw;
  }

  .tabela {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .pag-pacto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pacto-description {
    width: 80%;
    margin-top: 1%;
    text-align: center;
  }
  .pacto-logo {
    width: 60%;
    margin-bottom: -6%;
  }
  .description {
    font-size: 4vw;
    text-align: justify;
  }
  .pacto-caurosel {
    width: 90%;
    margin-top: 1%;
    margin-bottom: 5%;
  }
}
