.footer {
  background-color: #023a50; /*a cor mais escura é proposital??? #025373 - clara // #023a50; - escura */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-image {
  margin-bottom: 2%;
}
.logo_footer {
  width: 25%;
  height: 15%;
  align-self: center;
  margin-left: -4%;
  margin-top: 3%;
  margin-bottom: -2%;
}

.footer-text {
  margin-left: 2%;
}
.links {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.2vw;
  text-decoration: none;
  color: rgb(231, 231, 231);
  width: 25%;
  height: 15%;
}

.credits {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.1vw;
  color: rgb(231, 231, 231);
  align-self: flex-end;
  margin-right: 1%;
}

.footer-title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.7vw;
  color: rgb(231, 231, 231);
}

@media (max-width: 460px) and (orientation: portrait) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text {
    margin: 0;
    margin-left: 3%;
  }
  .footer-title {
    font-size: 4vw;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .links {
    font-size: 3.5vw;
  }

  .logo_footer {
    width: 20%;
    margin-left: -3%;
  }
  .credits {
    font-size: 3vw;
    margin: 0;
    margin-top: -2%;
    margin-left: 2%;
  }
}
